# Ambiente virtual 
venv/
.env/

# Cache
__pycache__/
*.pyc

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos de ambiente
.env

# IDE JetBrains
.idea/

# Arquivos XML da IDE 
workspace.xml